<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <div id="app">
    <main class="content">
      <%- body %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </main>
    <aside class="sidebar">
      <%- partial('_partial/sidebar') %>
    </aside>
  </div>
  <%- partial('_partial/after-footer') %>
</body>

</html>