<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <div id="app">
    <main class="content">
      <%- body %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </main>
    <aside class="sidebar">
      <%- partial('_partial/sidebar') %>
    </aside>
<<<<<<< HEAD
=======
    <%- partial('_partial/after-footer') %>
>>>>>>> 6fbdc828c4b61b7f3b3846ed2940f04b1dfddb66
  </div>
  <%- partial('_partial/after-footer') %>
</body>

</html>