<script src="<%- theme.js.jquery %>"></script>

<script>
  (function ($) {
    // scroll down
    $(document).ready(function ($) {
      $('.anchor').click(function (e) {
        e.preventDefault();
        $('main').animate({ scrollTop: $('.cover').height() }, 'smooth');
      });
    });
    // Mobile nav
    var $content = $('.content'), $sidebar = $('.sidebar');

    $('.navbar-toggle').on('click', function () {
      $content.toggleClass('on');
      $sidebar.toggleClass('on');
    });

    $($content).on('click', function () {
      $content.removeClass('on');
      $sidebar.removeClass('on');
    });

    <% if (theme.moon.switch.button || theme.moon.switch.system){ %>
    // Moon
    var $body = $('body');
    var $bgbox = $('.bg-box');
    var transHandler;
    var updateTheme = function() {
      var moon = Number(localStorage.moon) === 1;
      <% if (theme.cover.dual) { %>
      if ($bgbox.children().length < 2) {
        if (moon) {
          $bgbox.prepend('<img id="moon" src="<%- theme.cover.path.moon %>" alt="image frame">');
        } else {
          $bgbox.prepend('<img id="sun" src="<%- theme.cover.path.sun %>" alt="image frame">');
        }
      }
      <% } %>
      clearTimeout(transHandler);
      $body.addClass('transition');
      $body.toggleClass('moon', moon);
      transHandler = setTimeout(function () {
        $body.removeClass('transition');
      }, 1000);
    };
    <% if (theme.moon.switch.button) { %>
    $('.toggle-theme').on('click', function () {
      localStorage.moon = 1 - (Number(localStorage.moon) || 0);
      updateTheme();
    });
    <% } %>
    <% if (theme.moon.switch.system) { %>
    window.matchMedia('(prefers-color-scheme: dark)').addListener(function(e) {
      localStorage.moon = e.matches ? 1 : 0;
      updateTheme();
    });
    <% } %>
    <% } %>
  })(jQuery);

<% if (theme.subtitle.enable){ %>
// Subtitle animation
try {
  var typed = new Typed("#subtitle", {
    strings: ['<%= theme.subtitle.text %>', '<%= theme.subtitle.text2 %>', '<%= theme.subtitle.text3 %>'],
    startDelay: <%= theme.subtitle.startDelay %>,
    typeSpeed: <%= theme.subtitle.typeSpeed %>,
    loop: <%= theme.subtitle.loop %>,
    backSpeed: <%= theme.subtitle.backSpeed %>,
    showCursor: <%= theme.subtitle.showCursor %>
  });
} catch (err) {}
<% } %>

<% if (theme.toTop.enable){ %>
// To top
(function ($) {
  // When to show the scroll link
  // higher number = scroll link appears further down the page
  var upperLimit = 1000;
  var scrollElem = $('#totop');
  var scrollSpeed = 1600;

  // Show and hide the scroll to top link based on scroll position
  scrollElem.hide();
  $('.content').scroll(function () {
    var scrollTop = $('.content').scrollTop();
    if (scrollTop > upperLimit) {
      $(scrollElem).stop().fadeTo(300, 1); // fade back in
    } else {
      $(scrollElem).stop().fadeTo(300, 0); // fade out
    }
  });
  // Scroll to top animation on click
  $(scrollElem).click(function () {
    $('.content').animate({ scrollTop: 0 }, scrollSpeed); return false;
  });
})(jQuery);
<% } %>
</script>

<% if (theme.toc && is_post()){ %>
<script src="<%- theme.js.tocbot %>"></script>
<script>
  tocbot.init({
    tocSelector: '.tocbot',
    contentSelector: '.article-entry',
    headingSelector: 'h1, h2, h3, h4, h5, h6',
    hasInnerContainers: true,
    scrollSmooth: true,
    scrollContainer: 'main',
    positionFixedSelector: '.tocbot',
    positionFixedClass: 'is-position-fixed',
    fixedSidebarOffset: 'auto',
    onClick: (e) => {
      $('.toc-link').removeClass('is-active-link');
      $(`a[href="#${e.target.innerText}"]`).addClass('is-active-link');
      document.getElementById(`${e.target.innerText}`).scrollIntoView();
      return false;
    }
  });
</script>
<% } %>

<% if (!page.__index && theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.min.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.min.js"></script>
<script>
  (function ($) {
    $('.content').each(function (i) {
      $(this).find('img').each(function () {
        if (!$(this).hasClass('nofancybox')) {
          var alt = this.alt;
          var src = this.src.split('.');
          if (src.length > 1) { var tail = src.pop(); src = src.join('.') + '-full.' + tail; } else { src = src.join('.'); }
          if (alt) { $(this).after('<span class="caption">' + alt + '</span>'); }
          $(this).wrap('<a href="' + src + '" title="' + alt + '" data-fancybox="gallery" rel="gallery' + i + '" />');
        }
      });
    });
    $.fancybox.defaults.animationEffect = 'fade';
    $.fancybox.defaults.transitionEffect = 'fade';
    $.fancybox.defaults.buttons = ['close'];
  })(jQuery);
</script>
<% } %>

<% if (theme.mathjax.enable && page.math){ %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true,
            messageStyle: 'none'}});
</script>
<script src="<%- theme.js.mathjax %>"></script>
<% } %>