<footer class="footer">
  <div class="outer">
    <ul class="list-inline">
      <li>
        &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <%= config.author || config.title %>
      </li>
    </ul>
    <ul class="list-inline">
      <% if (theme.icp && theme.icp.enable){ %>
      <li>
        <a href="<%= theme.icp.url %>" target="_black"><%= theme.icp.text %></a>
      </li>
      <% } %>
    </ul>
  </div>
</footer>
<% if (theme.toTop.enable){ %>
<div class="to_top">
  <div class="totop" id="totop">
    <i class="ri-arrow-up-line"></i>
  </div>
</div>
<% } %>